body{
    background-color: whitesmoke;
}
.navbar{
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.dashBoard-item{
    padding: 60px;
    margin: auto;
    background-color: rgb(91, 163, 234);
}
.userdetailsbox{
    width: 80%;
    height: auto;
    border: 1px solid gray;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
}