{% extends "index.html" %}

{% block content %}
<div style="margin-top: 80px;">
<div class="container mt-5">
    <div class="userdetailsbox mt-5">
        <table class="table table-striped-columns">
            <tr>
                <th>Departure Place</th>
                <th>Arrival_palce</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
            </tr>
            
            {% for t in trip  %}
            <tr>
                <td>{{t.Departure_Place}}</td>
                <td>{{t.Arrival_palce}}</td>
                <td>{{t.RideStatus}}</td>
                <td>{{t.Departure_time}}</td>
                <td>{{t.Arrival_time}}</td>

                <td><button  class="btn btn-danger">Delete</button></td>
            </tr>
                
            {% endfor %}
                
          </table>
    </div>
</div>
</div>
    
{% endblock %}
    