{% extends "index.html" %}

{% block content %}
<div style="margin-top: 80px;">
<div class="container mt-5">
    
    {% for m in messages  %}
    <h6 style="color:red;text-align:center">{{m}}</h6>
        
    {% endfor %}
        
    <div class="userdetailsbox mt-5">
        <table class="table table-striped-columns">
            <tr>
                <th>Rider Name</th>
                <th>Destinations</th>
                <th>Status</th>
                <th>Date</th>
                <th>Contact Number</th>
                <th>DeleteHistory</th>
            </tr>
            
            {% for t in trip  %}
            <tr>
                <td>{{t.Rideid.RiderId.first_name}}</td>
                <td>{{t.Rideid.Arrival_palce}}</td>
                <td>{{t.RideStatus}}</td>
                <td>{{t.Rideid.Arrival_time}}</td>
                <td>{{t.phone}}</td>
                <td><a href="{%url 'DeleteMyride' t.Ongoingid %}" class="btn btn-danger">Delete</a></td>
            </tr>
                
            {% endfor %}
                
          </table>
    </div>
</div>
</div>
    
{% endblock %}
    