{% extends 'index.html' %}
{% block content %}
<div class="container-md" style="margin-top:10%">
    <div class="card text-center">
        <h3 class="text-center" style="color:red">Please Login To Continue</h3>
        <div class="card-header bg-info">
            Login
            {% for message in messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Alert!</strong> {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="First name" name="uname" aria-label="First name">
                    </div>
                    <div class="col">
                        <input type="password" class="form-control" placeholder="Last name" name="pswd"aria-label="Last name">
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col">
                            <input type="submit" value="Login" class="btn btn-primary" style="width:200px">
                        </div>
                    </div>
            </form>
        </div>

    </div>
</div>
    {% endblock %}